rdata/
tmp/
*conflicted copy*
*~
*Bak*
*.original*
pbrtHome.m
*(copy)*
*tempOutput/t
data/generatedPbrtFiles/
*(Case Conflict*
*.exr
*.old
*.mat*
*.fig
*.jpg
*.blend*
*.dae
*.html
*.bak
*bak
*.zip
*.mif
*.tiff
*deleteMe*
*.pbrt
*.pbrt#
*.brdf
.DS*
._.DS*unamedScene.pbrt
